<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
      <link rel="stylesheet" type="text/css" href="/css/main.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li /><a href="/">Home</a></li>
        <li /><a href="/blog">Blog</a></li>
        <li /><a href="/about">About</a></li>
      </ul>
    </nav>
    <div class="container">

      {{ content }}

    </div><!-- /.container -->
    <footer>
      <ul>
        <li />Copyright Simon Flood 2018-2024
	<li /><a href="https://linkedin.com/in/simonflood">LinkedIn</a>
        <li /><a href="https://twitter.com/simon_flood">Twitter</a>
        <li /><a href="https://github.com/simonflood">GitHub</a>
      </ul>
    </footer>
  </body>
</html>
